<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Activation</title>
  </head>
<body>
  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
          <table class="row header">
            <tr>
              <td class="center" align="center">
                <center>
                  <table class="container">
                    <tr>
                      <td class="wrapper last">
                        <table class="twelve columns">
                          <tr>
                            <td class="six sub-columns">
                            </td>
                            <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                              <span class="template-label">Email confirmation</span>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </center>
              </td>
            </tr>
          </table>
          <br>
          <table class="container">
            <tr>
              <td>
                <!-- content start -->
                {{!-- <div class="container-fluid p-5 text-white text-center" style="background-color: rgb(75, 93, 115);"><h1>Come Tour Florence With Us</h1><p>Lets make good memories last</p><p>Your GateAway To Unforgettable Adventure</p></div> --}}
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h1>Hi, {{name}}</h1>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td>
                            <p>Welcome, and thank you for creating an account with {{COMPANY}}!
                              Please click on the button below to confirm your account. Once confirmed, you will have full access to {{COMPANY}}.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row">
                  <tr>
                    <td class="wrapper ">
                      <table class="four columns">
                        <tr>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper ">
                      <table class="four columns">
                        <tr>
                          <td class="center">
                            <center>
                            <table class="button success round">
                              <tr>
                                <td>
                                  <a href="{{CONFIRMATION_URL}}{{MAIL_CONFIRMATION_TOKEN}}">Confirm my account!</a>
                                </td>
                              </tr>
                            </table>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                    <td class="wrapper last">
                      <table class="four columns">
                        <tr>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <p>If this button does not work, simply copy and paste this link into your web browser: </p>
                <p><a href="{{CONFIRMATION_URL}}{{MAIL_CONFIRMATION_TOKEN}}">{{CONFIRMATION_URL}}{{MAIL_CONFIRMATION_TOKEN}}</a></p>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td>


                            <p>Thanks again for Touring with FlorenceTours. Please do not hesitate to contact us if you have any questions or suggestions.

                              If you did not create an account with us and have received this message as an error, please disregard this message. </p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>




                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td align="center">
                            <center>
                              <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a></p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <!-- container end below -->
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
</body>
</html>
